<h1>Editing instruction</h1>

<%= render "form", instruction: @instruction %>

<br>

<div>
  <%= link_to "Show this instruction", @instruction %> |
  <%= link_to "Back to instructions", instructions_path %>
</div>
